<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="https://www.youtube.com/watch?v=nxSgRYten1o">
            <img src="{{.Site.BaseURL}}img/thumb-build.png" alt="Enclaver Demo">
        </a>
        <h4>Quick Overview of Build & Run</h4>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="https://www.youtube.com/watch?v=MBXxzeiGYew">
            <img src="{{.Site.BaseURL}}img/thumb-run.png" alt="Enclaver No-Fly-List Demo">
        </a>
        <h4>Sample Python App with KMS Integration</h4>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="https://www.youtube.com/watch?v=Alte0y52WEY">
            <img src="{{.Site.BaseURL}}img/thumb-eks.png" alt="Enclaver EKS Cluster Demo">
        </a>
        <h4>EKS Cluster with Enclave Node Group</h4>
    </div>

</div>