{{ partial "header.html" . }}

<div class="homepage-hero hero-full-bleed enclaver">
  <div class="hero-full-bleed-bg"></div>
  <div class="hero-full-bleed-content">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <img src="{{.Site.BaseURL}}logos/enclaver-logo-color-inverted.svg" class="enclaver-logo" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
          {{ partial "enclaver-function.html" . }}
        </div>
        <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
          <div class="enclaver-cta">
            <a href="{{.Site.BaseURL}}docs/0.x/getting-started/" class="button-large button-combo">
              <div class="button-combo-subtext">Documentation</div>
              <div class="button-combo-text">Getting Started Guide</div>
            </a>
            <a href="https://github.com/enclaver-io/enclaver" class="button-large button-combo">
              <div class="button-combo-subtext">GitHub</div>
              <div class="button-combo-text">enclaver-io/enclaver</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="enclaver-first row">
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
      <h2 class="enclaver-featureset-title">Enclaver is an open source toolkit created to enable easy adoption of software enclaves.</h2>
      <p>Enclaves provide several critical features for operating software which processes sensitive data, including:</p>
      <p><strong>Isolation:</strong> Enclaves guarantee that sensitive data inserted, processed or decrypted can never be read by an attacker and leave the enclave.</p>
      <p><strong>Attestation:</strong> Enclaves make it possible to determine the exact identity and configuration of software running in an enclave.</p>
      <p><strong>Network Restrictions:</strong> External communication is limited and controlled. The network policy is built into the image and therefore the software attestation.</p>
      <p>Enclaver currently supports AWS Nitro Enclaves, with more coming in the future.</p>
    </div>
    <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="enclaver-feature">
        <div class="enclaver-feature-icon"><img src="{{.Site.BaseURL}}img/icon-lock.svg" /></div>
        <div class="enclaver-feature-text">Protect your data</div>
        <div class="enclaver-feature-subtext">Encrypt data and protect it during processing</div>
      </div>
      <div class="enclaver-feature">
        <div class="enclaver-feature-icon"><img src="{{.Site.BaseURL}}img/icon-shield.svg" /></div>
        <div class="enclaver-feature-text">Trust App Code</div>
        <div class="enclaver-feature-subtext">Attestation and SBOM tied back to source</div>
      </div>
      <div class="enclaver-feature">
        <div class="enclaver-feature-icon"><img src="{{.Site.BaseURL}}img/icon-redact.svg" /></div>
        <div class="enclaver-feature-text">Add privacy</div>
        <div class="enclaver-feature-subtext">Keep plaintext data out of logs and data dumps</div>
      </div>
      <div class="enclaver-feature">
        <div class="enclaver-feature-icon"><img src="{{.Site.BaseURL}}img/icon-docker.svg" /></div>
        <div class="enclaver-feature-text">Works with Docker</div>
        <div class="enclaver-feature-subtext">Run any container in an enclave</div>
      </div>
    </div>
  </div>

  <div class="enclaver-last row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <a href="{{.Site.BaseURL}}docs/0.x/getting-started/" class="button-large button-skew">
        <div class="button-skew-subtext">Documentation</div>
        <div class="button-skew-text">Getting Started Guide</div>
      </a>
      <a href="https://github.com/enclaver-io/enclaver" class="button-large button-skew">
        <div class="button-skew-subtext">GitHub</div>
        <div class="button-skew-text">enclaver-io/enclaver</div>
      </a>
      <a href="https://github.com/enclaver-io/enclaver/releases" class="button-large button-skew">
        <div class="button-skew-subtext">Release Notes</div>
        <div class="button-skew-text">Releases</div>
      </a>
      <a href="https://discord.gg/a5CvXkNWYF" class="button-large button-skew">
        <div class="button-skew-subtext">Community</div>
        <div class="button-skew-text">
            <img src="{{.Site.BaseURL}}img/icon-discord.svg" class="enclaver-discord" />
        </div>
      </a>
    </div>
  </div>

  <div class="enclaver-tech row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <h2 class="homepage-detail-title text-center">Technology: Secure Enclaves</h2>
      {{ partial "tech-enclaves.html" . }}
    </div>
  </div>

  {{ partial "attribution.html" . }}

</div>

{{ partial "footer.html" . }}
